
/*-------------- TABLE FORMATTING ----------------------------------------------*/
#table{
    width: 760px;
    float: left;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    padding: 0px;
    }

#table p{
    font-size: 14px;
    font-family:neosans;
    margin: 5px 5px;
    color: #4D6880;
    padding-top: 0px;
    padding-bottom: 1px;
    line-height:20px;
}

#table img{
    height: 150px;
    width: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
}

#table span{text-decoration: underline;}

/*------------------------------------------------------------------------------*/
