/* Graphics, Design, and Layout by Dacia Closson.  Copyright  Spot On Solutions, 2006.  All Rights Reserved.  Any past, present, or future products of Spot On Solutions are protected and may not be modified in any way without prior written consent of the designer or party responsible for its creation.  This includes removing or modifying our registered logo or name, copyright notice, or any other piece of work belonging to Spot On Solutions.  You may not reproduce this page without the designers written permission. */
/*------The following are the 2 columns colored purple, green ----------*/
#col1head{
	width: 300px;
	float: left;
	border: 1px solid #FFFFFF;
	background-color: #DAC9D6;
	height: 20px;
	padding: 0px;
	}
#col1head p{
	font-size: 11px;
}
#col1head h3{
	background-color:#AA86A2;
	margin: 0px;
	}
#col1head img {
	height: 30px;
	width: 250px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 7px;
}
/*----------------------------------------------*/
#col1body{
<<<<<<< HEAD
	width: 412px;
	float: left;
	border: 1px solid #FFFFFF;
	background-color: #DAC9D6;
	height: 396px;
	padding: 0px;
        left: 0;
        right: 0;
    bottom: 0px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
	}
#col1body p{
	font-size: 14px;
	line-height:130%
=======
	width: 300px;
	float: left;
	border: 1px solid #FFFFFF;
	background-color: #DAC9D6;
	height: 350px;
	padding: 0px;
	}
#col1body p{
	font-size: 15px;
	line-height:150%
>>>>>>> d10b76d465e9f3b85df866cd74322222a235e950
}
#col1body h3{
	background-color:#AA86A2;
	margin: 0px;
	}
#col1body img {
	height: 190px;
	width: 200px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
}
/*----------------------------------------------*/
#col2head {
	width: 500px;
	border: 1px solid #FFFFFF;
	background-color: #D1E7E0;
	float: left;
	height: 30px;
	}
#col2head h3 {
	background-color:#86BFAE;
	margin: 0px;
	}
#col2head p{
	font-size: 11px;
}
#col2head img {
	height: 30px;
	width: 250px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 20px;
}
/*----------------------------------------------*/
#col2body {
<<<<<<< HEAD
	width: 407px;
	border: 1px solid #FFFFFF;
	background-color: #D1E7E0;
	float: right;
	height: 396px;
=======
	width: 500px;
	border: 1px solid #FFFFFF;
	background-color: #D1E7E0;
	float: left;
	height: 350px;
>>>>>>> d10b76d465e9f3b85df866cd74322222a235e950
	}

#col2body p{
	font-size: 14px;
	margin-left: 1px;
}
#col2body img {
<<<<<<< HEAD
	height: 340px;
	width: 381px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 13px;
=======
	height: 250px;
	width: 490px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 1px;
>>>>>>> d10b76d465e9f3b85df866cd74322222a235e950
}

/*-------------- TABLE FORMATTING ----------------------------------------------*/
#table{
    width: 760px;
    float: left;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    padding: 0px;
    }

#table p{
    font-size: 14px;
    font-family:neosans;
    margin: 5px 5px;
    color: #4D6880;
    padding-top: 0px;
    padding-bottom: 1px;
    line-height:20px;
}

#table img{
    height: 50px;
    width: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
}

#table span{text-decoration: underline;}

/*------------------------------------------------------------------------------*/
<<<<<<< HEAD


.titles{
    margin: 5px;
    margin-top: -10px
}
=======
>>>>>>> d10b76d465e9f3b85df866cd74322222a235e950
